# Site
name: "Anil Khichar"
title: "Hands on Coding"
description: "Principal Technical Architect (6X GCP/5X Azure)"
logo: 'assets/images/logo.png'
favicon: 'assets/images/logo.png'
baseurl:
google_analytics: 'UA-46278016-1'
disqus: 'anilkhichar-com'
include: ["_pages"]
permalink: /:title/
destination: ../../app/anilkhichar.com/

# Authors
authors:
  anil:
    name: Anil Khichar
    display_name: Anil Khichar
    gravatar: b7532bbdbaa60251fee877586769cc3a
    email: khichar.anil@gmail.com
    web: https://anilkhichar.com
    linkedin: https://www.linkedin.com/in/anilkhichar
    stackoverflow: https://stackoverflow.com/users/769581/khichar-anil
    medium: https://medium.com/@khichar.anil
    github: https://github.com/anilkhichar
    accredible: https://www..net/profile/anilkumarkhichar/wallet
    qwiklabs: https://www.qwiklabs.com/public_profiles/cdda663e-f028-4d6f-9e70-8d612390e0fd
    azure: https://docs.microsoft.com/en-us/users/khichar-anil
    description: "Principal Technical Architect"
# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
  - jekyll-figure
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
